 <%if current_user%>
<h1>NOT PERMITTED</h1>
<%elsif current_admin%>
<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>| Name </th>
      <th>| Email</th>
      <th>| Coin     | </th>  
      <th>Upload Error |</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
      <%if (user.DLerr).to_i> 5 %>
      <td> <font color = "red"><%= user.name  %></td>
      <%else%>
        <td><%= user.name %></td>
      <%end%>
        <td><%= user.email %></td>
        <td><%= user.coin %></td>
        <td><%= user.DLerr %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
<% end %>
