<% provide(:title, @user.name) %>
<div class="row">
<aside class="col-md-4">
<section class="user_info">
<h1>
<%= gravatar_for @user %>
<%= @user.name %>
</h1>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Coin:</strong>
  <%= @user.coin %>
</p>

<p>
  <strong>Upload error:</strong>
  <%= @user.DLerr %>
</p>

<%if current_user? @user%>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', :back %>

<%= render "shared/edocs_form"%>



  <%end%>

</section>
</aside>


  <div class="col-md-8">
  <h3>Document Feed</h3>

  <%if @e_docs.any?%>
    <ol class = "e_docs">
      <%= render @e_docs %>
     
    </ol>
    <%end%>
  </div>


</div>