
<%= form_for @e_doc do |f| %>

<div class="field">
 <%= f.text_field :docname, placeholder: "Document name" %>
 </div>
 <%@categories = Category.all%>
 <%#= select("post","category_id", @categories.collect {|p| [p.id]}, {:include_blank => 'None'})%>
 <%= f.collection_select :category_id, @categories, :id, :categoryname, include_blank: true %>
 <div class="field">
 <%= f.text_area :description, placeholder: "Description" %>
 </div>
 <span class="file">
 <%= f.file_field :file %>
 </span>
 <%= f.submit "Upload", class: "btn btn-primary" %>
 
<% end %>